@import "tailwindcss";
body {
  background-color: #0b0b0d;
  color: #fff;
}

@layer utilities {
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
  .animate-marquee-scroll {
    animation: marquee 20s linear infinite;
  }
}